In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import colors 
import plotly.graph_objs as go
from wordcloud import WordCloud

In [3]:
df=pd.read_csv('/Users/vaishnaviyadamreddy/Desktop/Projects/alldata.csv')

In [4]:
df

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"
...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA"
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA"
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA"
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA"
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcast’s Technology &amp; Product organizatio...,11610.0,"Sunnyvale, CA 94089"

In [5]:
df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [6]:
df.isnull().sum()

position         11
company          11
description      11
reviews        1638
location         11
dtype: int64

In [7]:
df=df.dropna()

In [8]:
df.isnull().sum()

position       0
company        0
description    0
reviews        0
location       0
dtype: int64

In [9]:
df.isnull().sum().sum()

0

In [10]:
df['position'].nunique()

4221

In [11]:
df['company'].nunique()

1302

In [12]:
df['location'].nunique()

328

In [27]:
dfp = df['position'].value_counts().head(10).sort_values(ascending=True).reset_index()
dfl = df['location'].value_counts().head(10).sort_values(ascending=True).reset_index()
dfc = df['company'].value_counts().head(10).sort_values(ascending=True).reset_index()

fig = go.Figure()

fig.add_trace(go.Bar(x=dfp['position'],
                     y=dfp['index'],  # Update this line
                     orientation='h',
                     name='Position',
                     marker=dict(color='LightCoral')))

fig.add_trace(go.Bar(x=dfl['location'],
                     y=dfl['index'],  # Update this line
                     orientation='h',
                     name='Location',
                     marker=dict(color='CadetBlue')))

fig.add_trace(go.Bar(x=dfc['company'],
                     y=dfc['index'],  # Update this line
                     orientation='h',
                     name='Company',
                     marker=dict(color='SteelBlue')))

fig.update_layout( 
    updatemenus=[ 
        dict( 
            type="buttons",
            direction="left",
            pad={"r": 10, "t": 10},
            showactive=True,
            x=0.16,
            xanchor="left",
            y=1.12,
            yanchor="top",
            font=dict(color='Indigo', size=14),
            buttons=list([ 
                dict(label="All", 
                     method="update", 
                     args=[{"visible": [True, True, True]}, 
                           {'showlegend': True} 
                        ]),
                dict(label="Position", 
                     method="update", 
                     args=[{"visible": [True, False, False]}, 
                           {'showlegend': True} 
                        ]), 
                dict(label='Location', 
                     method="update", 
                     args=[{"visible": [False, True, False]}, 
                           {'showlegend': True} 
                        ]), 
                dict(label='Company', 
                     method="update", 
                     args=[{"visible": [False, False, True]}, 
                           {'showlegend': True}]),
            ]),
        )])

fig.update_layout(
    annotations=[
        dict(text="Choose:", showarrow=False,
             x=0, y=1.075, yref="paper", align="right",
             font=dict(size=16, color='DarkSlateBlue'))])

fig.update_layout(title="Top 10 Positions, Locations and Companies",
                  title_x=0.5,
                  title_font=dict(size=20, color='MidnightBlue'))

fig.show()

KeyError: 'index'

# 2

In [25]:
new = df["location"].str.split(", ", n=1,expand = True)
df["city"] = new[0]
df["state"] = new[1]

state = df["state"].str.split(" ",n=1,expand = True)
df["state"]=state[0]

df.head()

/var/folders/km/pqp7kgyj005crlgwm1tlv4yr0000gn/T/ipykernel_90518/4074561172.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/km/pqp7kgyj005crlgwm1tlv4yr0000gn/T/ipykernel_90518/4074561172.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/km/pqp7kgyj005crlgwm1tlv4yr0000gn/T/ipykernel_90518/4074561172.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,position,company,description,reviews,location,city,state
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303",Atlanta,GA
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA",Atlanta,GA
5,Manager of Data Engineering,McKinsey & Company,Qualifications\nBachelor’s degree in Computer ...,385.0,"Atlanta, GA 30318",Atlanta,GA
6,"Product Specialist - Periscope, New Ventures",McKinsey & Company,Qualifications\nBachelor’s degree\n5-7 years o...,385.0,"Atlanta, GA 30318",Atlanta,GA
7,"Junior to Mid-level Engineer, Geologist or Env...",Wood,Overview / Responsibilities\nWood Environment ...,899.0,"Atlanta, GA",Atlanta,GA